* {
    box-sizing: border-box;
}

body {
    padding-top: 70px;
}

.td_btn {
    min-width: 200px;
}

.content_foto {
    height: 180px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
}

.wrapper_foto {
    white-space: nowrap;
    padding: 10px 10px;
}
.content_text_foto{
    white-space: normal;
    display: inline-block;
    width: 260px;
}
.content_btn{
    padding-top: 10px;
}

